<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593978924948-nqv5ep4q02fe4itp6959ab7ihjomtbe7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593978924948-nqv5ep4q02fe4itp6959ab7ihjomtbe7</string>
	<key>API_KEY</key>
	<string>AIzaSyDy5Q_bYiLAcOcAj30KkGisMEQ1Ni0_tTk</string>
	<key>GCM_SENDER_ID</key>
	<string>593978924948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.ridesharingrider</string>
	<key>PROJECT_ID</key>
	<string>ridesharing-98e9f</string>
	<key>STORAGE_BUCKET</key>
	<string>ridesharing-98e9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593978924948:ios:ae8e4f456809a1e84d3981</string>
</dict>
</plist>